{% extends "front/base.html.twig" %}


{% block main %}


    <h2>        {{ product.name }}          </h2>

    <h4>        {{ product.category.name }}   </h4>  
    
    <h4>        {{ product.licence.name }}   </h4> 

    <p>         {{ product.price }}        </p>

    {% for media in product.media %}

    <img src="{{ media.src }}" alt="{{ media.alt}}">
        
    {% endfor %}
    
    <hr>

    <div class="comments">
        
            <h3>Commentaires</h3>
        
        {% for comment  in product.comments %}
            <h5>Par {{ comment.user.name}} {{ comment.user.firstname}}, le {{ comment.date | date('d-m-Y') }}</h5>
            <p>{{ comment.content }}</p>
            <hr>
        {% endfor %}

        {% if app.user %}
            <div >
            

                {{ form_start(commentForm) }}
                {{ form_label(commentForm.content, 'Ecrivez votre commentaire :' ) }}
                {{ form_widget(commentForm.content, {'attr' : {'class'  : 'input', 'placeholder' : 'Ecrivez votre commentaire', 'id' : 'content', 'cols' : '30' , 'rows' : '10' }}) }}
                {{ form_widget(commentForm.submit, {'attr' : {'class'  : 'button'}, 'label': 'Ajouter'}) }}
                {{ form_end(commentForm) }}



            </div>
            {% else %}
            <div>
                <p>Vous devez être connecté pour poster un commentaire.</p>
            </div>
        {% endif %}
    </div>
        
    




    
{% endblock %}